<!DOCTYPE html>
<html>
<head>
  <title>Control</title>
  <script type="text/javascript" src="/jquery-2.2.0.min.js"></script>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
  <script type="text/javascript">
    messageStack = [];

    function currentHost() {
        return 'ws://' + location.hostname + ':' + <%= ENV['HWSERVER_PORT'] %>
    }

    var socket = new WebSocket(currentHost() + "/control/<%= @deviceId %>");
    socket.onopen = function() {

    };

    socket.onclose = function(event) {
      alert("socket closed");
    };

    socket.onmessage = function(event) {
      messageStack.push(event.data);
      $(".inputLog").prepend(event.data + "<br>");
    };

    socket.onerror = function(error) {
      alert("Error " + error.message);
    };
  </script>

  <%= @iframe %>

</body>
</html>
