<!DOCTYPE html>
<html>
<head>
  <title>Control</title>
  <script type="text/javascript" src="/jquery-2.2.0.min.js"></script>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
  <script type="text/javascript">
    messageStack = [];

    function clearIframe() {
      $('.body').html('Ops!');
    }

    function currentHost() {
        return 'ws://' + location.hostname + ':' + <%= ENV['HWSERVER_PORT'] %>
    }

    var socket = new WebSocket(currentHost() + "/control/<%= @deviceId %>");
    socket.onopen = function() {

    };

    socket.onclose = function(event) {
      clearIframe();
    };

    socket.onmessage = function(event) {
      messageStack.push(event.data);
      $(".inputLog").prepend(event.data + "<br>");
    };

    socket.onerror = function(error) {
      clearIframe();
    };
  </script>
  <div class="body">
    <%= @iframe %>
  </div>

</body>
</html>
