<div class="container">
  {{outlet}}
  <form>
    Interface ID: {{input value=model.interfaceId}}
    <br>
    interface body: <br>
    {{#textarea value=model.interface cols="80" rows="20"}}{{/textarea}}
    <br>
    <button {{action "saveRecord"}}>Save</button>
  </form>
</div>
