{{outlet}}
<form>
  Interface ID: {{input value=model.hwid}}
  <br>
  interface body: <br>
  {{#textarea name="Body" cols="80" rows="40"}}{{/textarea}}
  <button {{action "saveRecord"}}>Save</button>
</form>
