{{outlet}}
<form>
  Interface ID: {{input value=model.interfaceId}}
  <br>
  interface body: <br>
  {{#textarea value=model.interface cols="80" rows="40"}}{{/textarea}}
  <button {{action "saveRecord"}}>Save</button>
</form>
