<div class="container">
  {{#link-to 'admin.new'}}new{{/link-to}}
  <div class="table-responsive">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Runned?</th>
   </tr>
   {{#each model as |group|}}
     {{#if group.id}}
       <tr>
         <td>{{group.name}}</td>
         <td>?</td>
         <td>{{#link-to 'admin.edit' group}}edit{{/link-to}}</td>
        <td><a href="#" {{action "deleteRecord" group}}>delete</a></td>
       </tr>
     {{/if}}
    {{/each}}
  </table>
  </div>
</div>
