<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<form  method="POST" action="/edit/<%= @sha %>">

  <% if @sha == 'new' %>
    id: <input type="text" name="sha" value="">
  <% else %>
    <b><%= @sha %></b>
  <% end %>
  <br>
  <br>
  ruby code:
  <br>
  <textarea cols="60" rows="25" name="logic"><%=@logic.to_s%></textarea>
  <br>
  <input type="submit">
</form>

</body>
</html>
