<div class="container">
  <!-- <div class="btn btn-success"> -->
    {{authorization-button}}
  <!-- </div> -->
  {{manual-control devices=model.devices algorithms=model.algorithms interfaces=model.interfaces}}
</div>
