<div class="container">
  Welcome!
  <br>
  You must configure algorithms and interfaces of devices on page {{link-to 'Setiitngs' 'settings'}}
  <br>
  List of devices for manual control avaliable on page {{link-to 'Devices' 'devices'}}
</div>
