{{#if success}}
  <div class="alert alert-success" role="alert">
    Saved!
  </div>
{{/if}}
{{#if errors}}
  <div class="alert alert-danger" role="alert">
    {{errors}}
  </div>
{{/if}}
<form>
  <div class="col-md-12">
    <div class="col-md-3">
      <h3>Personal settings</h3>
      <ul class="nav nav-pills nav-stacked">
        <li class="pMenuItem">{{#link-to 'profile.profile'}}Profile{{/link-to}}</li>
        <li class="pMenuItem">{{#link-to 'profile.account'}}Account{{/link-to}}</li>
      </ul>
    </div>
    {{outlet}}
  </div>
</form>
