<div class="connectBlock">
  <select multiple="multiple" size="6" id="selectList">
  </select>
  <br>
  <button {{action "select"}}>Select</button>
  <button disabled>Update</button>
</div>
<div class="controlBlock">
</div>
