<div class="container">
  <form>
    <h2>edit Interface</h2>
    <div class="row">
      <div class="form-group col-md-3">
        name: {{input value=model.interfaceId class="form-control"}}
      </div>
      <div class="form-group col-md-3">
        <br>
        <div class="btn btn-default" {{action "saveRecord"}}>Save</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        body, html: <br>
        {{#textarea value=model.interface cols="80" rows="20" class="form-control"}}{{/textarea}}
      </div>
    </div>
  </form>
</div>
