<button {{action 'command' "forward"}}>forward</button>
<button {{action 'command' "left"}}>left</button>
<button {{action 'command' "right"}}>right</button>
<br>
{{#each commandList as |cmd|}}
  {{cmd}}
{{/each}}
