<div class="container">
  {{partial "partials/save-message"}}
  <form>
    <h2>edit Algorithm</h2>
    <div class="row">
      <div class="form-group col-md-3">
        Name: {{input value=model.algorithmId class="form-control"}}
      </div>
      <div class="form-group col-md-3">
        <br>
        <div class="btn btn-default" {{action "saveRecord"}}>Save</div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        ruby code: <br>
        {{#ace-editor value=model.algorithm cols="80" rows="20"}}{{/ace-editor}}
      </div>
    </div>
  </form>
</div>
