{{outlet}}
<div id="left-column">
  <b>Available devices</b>, {{#link-to 'devices.new'}}new{{/link-to}}
  <br>
  {{#each model as |device|}}
    <h2>{{device.hwid}}</h2>
    <p>
      {{#if device.manual}}
        manual
      {{else}}
        algorithm
      {{/if}}
    </p>
  {{/each}}
</div>
<div id="right-column">
  <b>Manual control</b>
  <br>
  <div class="connectBlock">
    <select multiple="multiple" size="3" id="selectList">
    </select>
    <br>
    <button id="selectButton">Select</button>
    <button disabled>Update</button>
  </div>
  <div class="controlBlock">

  </div>
</div>
