<div class = menuItem>{{#link-to 'index'}}main{{/link-to}}</div>
{{#unless user.authorized}}
  <div class = menuItem>{{#link-to 'signin'}}SignIn{{/link-to}}</div>
  <div class = menuItem>{{#link-to 'signup'}}SignUp{{/link-to}}</div>
  <button class = menuItem {{action "vkontakte"}}>Vk</button>
{{else}}
<div class = menuItem>{{#link-to 'profile'}}Profile{{/link-to}}</div>
<button class = menuItem {{action "logout"}}>Logout</button>
{{/unless}}
