{{#unless user.authorized}}
  {{#link-to 'signin'}}SignIn{{/link-to}}
  {{#link-to 'signup'}}SignUn{{/link-to}}
  <div class="btn btn-success" {{action "vkontakte"}}>vkontakte</div>
{{else}}
  <div class="btn btn-success" {{action "logout"}}>Logout</div>
  {{#link-to 'profile'}}profile{{/link-to}}
{{/unless}}
{{#link-to 'index'}}main{{/link-to}}
