<div class="row">
  <div class="col-md-9">
    {{select-bootstrap options=shelfModulesOptions value=selectedModule}}
  </div>
  <div class="col-md-2">
    <div class="btn btn-default" {{action "addMod"}}>+</div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  {{#each modules as |mod|}}
    {{device-module-mod mod=mod}}
  {{/each}}
</div>
