<div class="std-output output">
    <i>Output:</i>
  <br>
  {{#each data as |line|}}
    {{#if line.stderr}}
    <div class="line stderr">
      {{line.line}}
    </div>
    {{/if}}
    {{#if line.stdout}}
    <div class="line stdout">
      {{line.line}}
    </div>
    {{/if}}
  {{/each}}
</div>
