<!DOCTYPE html>
<html>
<head>
  <title>iframe2</title>
  <script type="text/javascript" src="/jquery-2.2.0.min.js"></script>
</head>
<body>
  <script type="text/javascript">
    function currentHost() {
        return 'ws://' + location.hostname + ':' + <%= ENV['ASERVER_PORT'] %>
    }

    var socket = new WebSocket(currentHost() + "/control/<%= @deviceId %>");
    socket.onopen = function() {

    };

    socket.onclose = function(event) {
      alert("socket closed");
    };

    socket.onmessage = function(event) {
      $(".inputLog").append(event.data+"<br>")
    };

    socket.onerror = function(error) {
      alert("Error " + error.message);
    };
  </script>

  <%= @iframe %>

</body>
</html>
