<!DOCTYPE html>
<html>
<head>
  <title>devices</title>
  <style type="text/css">
    #left-column {
      float: left;
      width: 50%;
    }
    #right-column {
      float: right;
      width: 50%;
    }
  </style>
</head>
<body>
  <div id="left-column">
    <b>Available devices</b>, <a href="/edit/new">new</a>
  <br>
  <% @records.each do |record| %>
    <%= record["hwid"] %>, <a href="/edit/<%=record["hwid"]%>">edit</a>,
    <a href="/delete/<%=record["hwid"]%>">delete</a><br>
    <%= record["algorithm"] %>
    <hr>
  <% end %>
  </div>
  <div id="right-column">
    <b>Connected</b>
  </div>
</body>
</html>
