<!DOCTYPE html>
<html>
<head>
  <title>devices</title>
  <style type="text/css">
    #left-column {
      float: left;
      width: 50%;
    }
    #right-column {
      float: right;
      width: 50%;
    }
  </style>
  <script type="text/javascript" src="/jquery-2.2.0.min.js"></script>
</head>
<body>
  <div id="left-column">
    <b>Available devices</b>, <a href="/edit/new">new</a>
  <br>
  <% @records.each do |record| %>
    <%= record["hwid"] %>, <a href="/edit/<%=record["hwid"]%>">edit</a>,
    <a href="/delete/<%=record["hwid"]%>">delete</a><br>
    <%= record["algorithm"] %>
    <hr>
  <% end %>
  </div>
  <div id="right-column">
    <b>Manual control</b>
    <br>
    <div class="connectBlock">
      <select multiple="multiple" size="3" style="width:100px" id="selectList">
        <option selected>car</option>
      </select>
      <br>
      <button id="selectButton">Select</button>
      <button disabled>Update</button>
    </div>
    <div class="controlBlock" style="display:none">
      controlBlock<br>
      left speed(-255..255):<input id="left "name="left" value="0"><br>
      right speed(-255..255):<input id="right "name="right" value="0"><br>
      <button id="sendToS">Send</button><br>
      input log:
      <div class="inputLog">
      </div>
    </div>
    <script type="text/javascript">
    $('#selectButton').click(function (argument) {
      if($('#selectList').find(":selected").text() != 'car'){
        alert("select car");
        return;
      }
      var socket = new WebSocket("ws://localhost:2500/control/car");
      socket.onopen = function() {
        $('.connectBlock').css('display', 'none');
        $('.controlBlock').css('display', 'inherit');
      };

      socket.onclose = function(event) {
        $('.connectBlock').css('display', 'inherit');
        $('.controlBlock').css('display', 'none');
      };

      socket.onmessage = function(event) {
        $(".inputLog").append(event.data+"<br>")
      };

      socket.onerror = function(error) {
        alert("Error " + error.message);
      };

      $("#sendToS").click(function() {
        console.log("l:0+r:0");
        socket.send("l:0+r:0");
      });
    })
    </script>
  </div>
</body>
</html>
