{{outlet}}
<form>
  Algorithm ID: {{input value=model.algorithmId}}
  <br>
  Algorithm body: <br>
  {{#textarea value=model.algorithm cols="80" rows="40"}}{{/textarea}}
  <button {{action "saveRecord"}}>Save</button>
</form>
